*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color:rgb(225, 218, 218);
  height: 100vh;
}
.form-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin: 10px;
  width: 20%;
  height: 100vh;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
}
.form-div input ,textarea ,button{
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px gray;
  text-decoration: none;
}
.form-div button{
 background-color: lightgreen;
 cursor: pointer;
}

.form-div textarea{
  height: 150px;
}
.notes-div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px;
}
.note-container{
  width: 300px !important;
  height: 250px;
  border: solid 1px gray;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
 
}
.delete-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.delete-btn{
  cursor: pointer;
}